<header class="navbar">

  <div class="nav-left">
     <h2>📚 Banned Books Library</h2>
  </div>

  <div class="nav-right">

    <a href="/">Home</a>

<% if (user) { %>

<p>User <%= user.name %> is logged in.</p>

<form method="POST" action="/sessions/logoff" style="display:inline;">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <button type="submit">Logout</button>
</form>

<% } %>

<% if (errors) { %>
  <% errors.forEach((err)=> { %>
  <div style="color:red">
  Error: <%= err %>
  </div>
  <% }) %>
<% } %>

<% if (info) { %>
  <% info.forEach((msg)=> { %>
  <div style="color:green">
  Info: <%= msg %>
  </div>
  <% }) %>
<% } %>

 </div>
</header>