<h1>Banned Books Review App</h1>
<hr />
<% if (errors) { errors.forEach(err => { %>
  <div style="color:red;">Error: <%= err %></div>
<% }) } %>
<% if (info) { info.forEach(msg => { %>
  <div style="color:green;">Info: <%= msg %></div>
<% }) } %>